# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Project specific
.env
drivers/*
data/disabled_tracks/*
data/artists/*
!data/artists/.gitkeep
data/logs/*
!data/logs/.gitkeep
data/ultratop/*
data\certifications\brma\backups/*
data\certifications\brma\logs/*
data\certifications\brma\reports/*
src/scripts/*
*.db
*.sqlite
*.log
*.cache
*.json

# Claude
*.md

# OS
.DS_Store
Thumbs.db

# ChromeDriver logs artifact (créé par erreur au lieu d'utiliser device null)
nul

#Lancer VenV
Lancer_Venv_Admin.bat
Lancer_Venv_Admin.ps1

# Script, Fix & Driver
/test*\.py
/*test\.py
/debug*\.py
/*debug\.py
/download*\.py
/*download\.py
/fix*\.py
/*fix\.py
/update*\.py
/*update\.py