# APIs
lyricsgenius==3.0.1
spotipy==2.23.0
discogs-client==2.3.0
pylast==5.2.0
musicbrainzngs>=0.7.1

# Scraping
selenium==4.15.2
beautifulsoup4==4.12.2
requests==2.31.0

# Interface graphique
customtkinter==5.2.1

# Base de données
sqlalchemy==2.0.23

# Utilitaires
python-dotenv==1.0.0
coloredlogs==15.0.1

# Chrome driver
webdriver-manager==4.0.1

# YouTube integration
ytmusicapi==1.8.0